[submodule "external/zsh-git-prompt"]
	path = external/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt.git
    branch = master
    ignore = dirty
[submodule "external/dircolors-solarized"]
	path = external/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
	branch = master
